@import "@id-sk/frontend/idsk/overrides/_colours-applied.scss";

#queries {
  list-style-type: none;
  padding-inline-start: 0;

  // Add scroll bar.
  height: 20rem;
  overflow-y: auto;

  li {
    margin: 1rem;

    .name {
      cursor: pointer;
      color: $govuk-link-colour;
    }

  }

}
