/* Disable endpoint selector. */
.yasgui .autocompleteWrapper {
  display: none !important;
}

#queries {
  list-style-type: none;
  padding-inline-start: 0;
}

#queries li {
  margin: 1rem;
}

#queries li .name { 
  cursor: pointer; 
  color: blue;
}
